body {
    background-color: #272829;
    color: #FFF6E0;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    width: min(90vw, 1900px);
    justify-content: center;
    margin: auto auto 1em auto;
    
}

#selectionContainer {
    margin: auto auto 1em auto;
    text-align: center;
}

#selectionContainer h1 {
    font-size: 2em;
}

#selectionContainer {
    font-size: 1.5em;
}

#selectionContainer select {
    font-size: 1em;
}


#date {
    text-align: center;
    color: gold;
    border-width: 0.1em 0 0 0;
    border-style: solid;
    border-color: gold;
    padding-top: 1em;;
}
#movieSelection {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0 1em 0;
    justify-content: center;
}

.movie {
    background-color: #61677A;
    display: flex;
    width: max(24em, 25%);
    border-radius: 5px;
    border: 2px solid gold;
    margin: 1em;
    justify-content: center;
}

.movie img {
    height: 12em;
    width: auto;
    padding: 1em;
}

.movie div {
    margin-left: 1em;
    flex-grow: 10;
}

.movie div>h2 {
    margin-bottom: 0.1em;
}

.movie div>h4 {
    margin-top: 0;
}